<h2>Search Product: </h2>
<form [formGroup] = "searchForm" (ngSubmit) = "sendData()">
  <div>
    <label for="search">Search</label>
    <input type="text" name="search" id="search" class="form-control" formControlName = "search">
  </div>
    <br>
  <input type="submit" value="Search" class="btn btn-success" (click) = "showResults = true">
</form>
<br><br>

<div *ngIf = showResults>
<h2>Results</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor = "let prd of product">{{'Product number ' + prd.id + ':'}}
    <ul>
      <li>{{'Name: ' + prd.name}}</li>
      <li>{{'Price: ' + prd.price}}</li>
    </ul> 
  </li>
</ul>
<button class="btn btn-danger" (click)="showResults = false">Delete Results</button>
</div>
<br><br>


<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of productsKeys">{{'Product number ' + key + ':'}}
    <ul>
      <li>{{'Name: ' + products[key].name}}</li>
      <li>{{'Price: ' + products[key].price}}</li>
    </ul> 
  <!--<button class="btn btn-danger" (click)="deleteMessage(key)">Delete</button> --> 
  <button class="btn btn-info" [routerLink] = "['/edit-product', key]">Edit</button>
  </li>
</ul>
