<h2>Update product number {{product?.id}}: </h2>
<form [formGroup] = "pdtform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">Product name</label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{product?.name}}">
  </div>
  <div>
    <label for="price">Product price</label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{product?.price}}">
  </div>
  <br>
  <input type="submit" value="Update the product" class="btn btn-primary">
</form>
