<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]= {exact:true}><a routerLink="">Products</a></li>
        <!--<li routerLinkActive="active current" [routerLinkActiveOptions]= {exact:true}><a routerLink="/products">Products</a></li>-->
        <li routerLinkActive="active current" [routerLinkActiveOptions]= {exact:true}><a routerLink="/firebase">Products From Firebase</a></li>
        </ul>
    </div>
  </div>
</nav>